a {
  text-decoration: none;
  color: rgb(17, 85, 204);
  display: block;
  white-space: nowrap;
  line-height: 28px;
  font-family: 'Noto Sans UI', sans-serif;
}

#visits {
  margin-top: 28px;
  text-align: left;
  margin-left: 16px;
}
