a {
  text-decoration: none;
  color: rgb(17, 85, 204);
  display: block;
  white-space: nowrap;
  line-height: 28px;
  font-family: 'Noto Sans UI', sans-serif;
  font-size: 75%;
  margin-top: 28px;
}

img {
  margin: 0 auto;
  height: 283px;
  width: 379px;
  padding: 4px;
  background: #eee;
}

#visits {
  text-align: center;
}
