a[href] {
  color: rgb(17, 85, 204);
  text-decoration: none;
}

hr {
  margin: 0;
  padding: 0;
  height: 8px;
  border: 0;
}

.el {
  white-space: nowrap;
  line-height: 28px;
  font-family: 'Noto Sans UI', sans-serif;
  font-size: 75%;
  padding-left: 8px;
  padding-right: 18px;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.el:hover {
  outline: 1px dashed #3e50b4;
}
